<div class="jumbotron">
  <h1>Contact List</h1>
  <p>
    Gerencie seus contatos em qualquer lugar!
  </p>
  <p>
    <%= link_to 'Crie Sua Conta', '#', class: 'btn btn-primary btn-lg' %>
  </p>
</div>

<!-- div class="jumbotron"=>cria um container leve exibir conteúdo com botão.
link_to: "linka um botao com uma mensagem " o new_user_path:  rota um novo usuario.
btn btn-primary btn-lg: "cria botão"  -->
